body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text */
}

button {
    background-color: #333333; /* Dark background for buttons */
    color: #ffffff; /* White text for buttons */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #555555; /* Lighter background when hovering over buttons */
    }

.button-container button {
    /* Other styles */
    width: 150px; /* Fixed width */
    text-overflow: ellipsis; /* Handle overflowing text */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    /* Rest of your button styles */
}

.search-bar {
    margin-bottom: 20px;
    margin-top: 8px;
}

    .search-bar input[type="text"] {
        background-color: #333333; /* Dark background for the input field */
        color: #ffffff; /* White text color for better visibility */
        border: 1px solid #555555; /* Dark border color */
        padding: 7px 10px; /* Adjusted padding for the input field */
        border-radius: 5px; /* Rounded corners for the input field */
        width: 200px; /* Adjust width as needed */
        height: 36px; /* Adjust height to match buttons */
        text-align: center; /* Center the text inside the input field */
    }

        .search-bar input[type="text"]::placeholder {
            color: #aaaaaa; /* Lighter color for the placeholder text */
            text-align: center; /* Center the placeholder text */
        }

        .search-bar input[type="text"]:focus {
            outline: none; /* Remove the default focus outline */
            border-color: #777777; /* Change border color on focus */
        }

.champion-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates a 5-column grid */
    gap: 10px; /* Space between grid items */
    width: 60%; /* Full width of the container */
    margin-bottom: 20px; /* Space below each row */
}

.champion-cell, .favorite-champion-cell {
    text-align: center;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

    .champion-cell img, .favorite-champion-cell img {
        width: 60px;
        height: auto;
        display: block;
        margin: 0 auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform */
    }

.left-half .champion-cell:hover img {
    transform: scale(1.05); /* Slightly increase the size of the image on hover */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green glow effect */
}

/* Hover effect for champion cells in the right half (red glow) */
.right-half .favorite-champion-cell:hover img {
    transform: scale(0.90); /* Slightly increase the size of the image on hover */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Red glow effect */
}

.right-half .champion-cell:hover img {
    transform: scale(0.90); /* Slightly increase the size of the image on hover */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Red glow effect */
}



img {
    width: 60px; /* Fixed width for images */
    height: auto;
    display: block;
    margin: 0 auto; /* Center images */
}

.champion-name, .champion-release-date {
    font-size: 10px;
    margin-top: 5px;
    color: #ffffff; /* White text color for better visibility */
}

.champion-release-date {
    color: #bbbbbb; /* Darker grey color */
}


.main-container {
    margin-top: 70px;
    display: flex; /* Use flexbox for layout */
    min-height: calc(100vh - 60px); /* Full height minus the header height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Very light border for a refined edge */
    background: linear-gradient(145deg, #121212, #121212); /* Darker gradient for visual depth */
    background-size: 400% 400%;
    animation: GradientAnimation 15s ease infinite; /* Smooth gradient animation */
    padding: 20px; /* Spacing insidex§ the container */
    border-radius: 10px; /* Rounded corners for a modern look */
    overflow: hidden; /* Ensures the child elements do not overflow */
}

@keyframes GradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.left-half, .right-half {
    flex: 1; /* Equal width for both halves */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
}

.content-container {
    max-width: 800px; /* Adjust the width as needed */
    width: 100%; /* Take full width of the parent container */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Remove min-height if it's causing issues with vertical alignment */
}