@model Labb2.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@{
    Layout = "~/Views/Shared/_MiniLayout.cshtml";
}


<link rel="stylesheet" href="~/css/login.css">

<h2 id="Welcome">Welcome</h2>
<div class="centered-container">
    <div class="login-container">
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
